/class
/bin
/saccubus.xml
/.settings
/doc/
/optionF/
/optionFDev/
/optionFFAAC/
/optionFFAACold/
/Rec/
/Saccubus_lib/
/[log]frontend.txt
/auto.bat
/auto.txt
/autotest.bat
/autotest.txt
/Bin.jar
/debug.bat
/Saccubus.exe
/saccubus.ini
/saccubus.jar
/最初に必ず読んで.txt
/読んで下さい.txt
/[log]frontend.txt
/[out]comment/
/[out]converted/
/[out]video/
/temp/
/user/
/[log]frontend.txt
/[log]vhext.txt
/desktop.ini
/[out]comment/
/[out]converted/
/[out]video/
